* {
    box-sizing: border-box;
}

html, body {
    font-family: "DejaVu Serif", serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.blackText {
    color: black;
}

.projectLink {
    color: #000249;
}

.ascii-train-animation {
}

.ascii-train {
    position: relative;
}

.ascii-station {
    position: relative;
    left: 17vw;
}

.block {
    padding-top: 1em;
    width: 100vw;
}

.bluebg {
    background-color: #000249;
}

.whitebg {
    background-color: white;
}

.bluebg > * {
    color: white;
}

.navbar {
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: currentColor;
}

.navbar > span {
    padding: 1em;
    font-size: 2em;
}

.bienvenueParagraph {
    position: relative;
    padding: 1em 4em 1em 4em;
    text-align: center;
    font-family: monospace;
    font-size: 2.5em;
}

.projectsNav {
    color: #FF6936;
}

.firstBlockText {
    padding: 0;
    margin: 0;
    font-size: 2em;
    text-align: center;
}

.firstBlockTextContainer {
    padding: 20vh 0;
}

h1 {
    padding: 0;
    margin: 0;
    font-size: 4em;
    text-align: center;
}

h2 {
    font-size: xx-large;
    padding-top: 1.5em;
}

.logoContainer {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    gap: 2em;
}

.logo {
    color:white;
    width: 2vw;
    height: auto;
    opacity: 30%;
}

.logo:hover {
    opacity: 95%;
}

.presentationTitle {
    padding-top: 2em;
    font-size: xx-large;
}

.presentationContainer {
    display: flex;
    align-items: center;
    gap:10em;
    padding: 1em 20em 6em 20em;
}

.presentationContainer p a {
    color: white;
    text-align: justify;
}

.realisationsTitle {
    font-size: xx-large;
    padding: 1.5em;
}

.travailFlex {
    padding: 2% 4% 4% 4%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    gap: 1.5em;
}
.travailImage {
    height: 30vh;
    padding: 1.5em;
    background-color: white;
}

.travailFlex:nth-child(2n) {

}

.travailFlexLeft {
    padding-right: 3em;
}

.travailFlexMiddle {
    padding-right: 3em;
}

.travailFlexRight {
    padding-right: 3em;
}


.photo {
    border-radius: 10em;
}

.contactContainer {
    display: flex;
    padding: 4em;
    justify-content: space-around;
    gap: 2em;
}

.contactTitle {
    padding-top: 0.4em;
}

.contactLogo {
    height: 30vh;
    aspect-ratio: 1;
}

.contactForm {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer {
    padding: 0.5em;
}

.footer p {
    text-align: center;
}

.footer a {
    color: skyblue;
}

.topButton {
    position: fixed;
    bottom: 50%;
    right: 16px;
    text-decoration: none;
    color: #000249;
    border: 2px solid #000249;
    box-shadow: 2px 2px #000249;
    font-size: 2.85em;
    line-height: .85em;
    display: inline-block;
    font-weight: 600;
    letter-spacing: .05em;
    padding: 3px 5px;
    white-space: nowrap;
}

/* PROJECTS  */

.oursagileProject, .nekoProject, .poseidonProject, .twitchdevProject, .skyaboveProject, .cloudwordsProject {
    border: 4px double slategray;
    padding: 3em;
}

.oursagileProject:hover, .nekoProject:hover, .poseidonProject:hover, .twitchdevProject:hover, .skyaboveProject:hover, .cloudwordsProject:hover {
    cursor: pointer;
}

.oursagileProject {
    grid-area: oursagile;
}

.nekoProject {
    grid-area: neko;
}

.poseidonProject {
    grid-area: poseidon;
}

.twitchdevProject {
    grid-area: twitchdev;
}

.skyaboveProject {
    grid-area: skyabove;
}

.cloudwordsProject {
    grid-area: cloudwords;
}

.projectsContainerGrid {
    padding: 2% 2% 4% 2%;
    display: grid;
    grid-gap: 2%;
    grid-template-columns: 1fr 1fr 1fr; /* fr=fraction */
    grid-template-areas:
    "oursagile  neko     poseidon"
    "twitchdev  skyabove cloudwords";
    background-color: #fff;
    color: #444;
}

.projectsContainerGrid a {
    color: #000249;
}

.logoImg {
    display: block;
    margin: 1em auto 0;
    height: 14%;
    width: auto;
}

h2 {
    text-align: center;
}
