* {
    box-sizing: border-box;
}

html, body {
    font-family: "DejaVu Serif", serif;
    scroll-behavior: smooth;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

p {
    line-height: 1.3em;
}

.blackText {
    color: black;
}

.projectLink {
    color: #000249;
}

.block {
    padding-top: 1em;
    width: 100vw;
}

.bluebg {
    background-color: #000249;
}

.whitebg {
    background-color: white;
}

.bluebg > * {
    color: white;
}

header{
    background-color: #000249;
}
.burger{
    width: 50px;
    height: auto;
}
.navbar-off{
    display: none;
}
.navbar {
    position: fixed;
    display: flex;
    width: 80vw;
    height: 100vh;
    flex-direction: column;
    color: white;
    justify-content: center;
    gap: 2em;
    align-items: center;
    background-color: #000249;
    z-index: 200;
}

.navbar a {
    text-decoration: none;
    color: currentColor;
}

.navbar > span {
    padding: 1em;
    font-size: 2em;
}

.bienvenueParagraph {
    position: relative;
    padding: 1em 2em 1em 2em;
    text-align: center;
    font-family: monospace;
    font-size: 1.5em;
}

.projectsNav {
    color: #FF6936;
}

.firstBlockText {
    padding: 0 0 0 1em;
    margin: 0;
    font-size: 2em;
    text-align: center;
}

.firstBlockTextContainer {
    padding: 20vh 0;
}

.ascii-train-animation {
    display:none;
}

h1 {
    padding: 0;
    margin: 0;
    font-size: 4em;
    text-align: center;
}

h2 {
    font-size: xx-large;
    padding-top: 1.5em;
    text-align: center;
}

h3 {
    text-align: center;
}

.logoContainer {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    gap: 2em;
}

.logo {
    color:white;
    width: 11vw;
    height: auto;
    opacity: 30%;
}

.logo:hover {
    opacity: 95%;
}

.presentationTitle {
    text-align: center;
    padding-top: 2em;
    font-size: xx-large;
}

.presentationContainer {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    gap:2em;
    padding: 1em 4em 6em 4em;
}

.presentationContainer p a {
    color: white;
    text-align: center;
}

.realisationsTitle {
    font-size: xx-large;
    padding: 2.5em 1.5em 1.5em 1.5em;
}

.travailFlex {
    padding: 2% 4% 4% 4%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.travailImage {
    height: 30vh;
    padding: 1.5em;
    background-color: white;
}

.travailFlexLeft, .travailFlexMiddle, .travailFlexRight {
    padding: 3em;
}

.photo {
    border-radius: 10em;
}

.contactContainer {
    display: flex;
    padding: 4em;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.contactTitle {
    padding-top: 0.4em;
}

.contactLogo {
    height: 18vh;
    aspect-ratio: 1;
}

.contactForm {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contactForm textarea {
    width:70%;
}

.footer {
    padding: 0.5em;
}

.footer p {
    text-align: center;
}

.footer a {
    color: skyblue;
}

/* PROJECTS  */

.oursagileProject, .nekoProject, .poseidonProject, .twitchdevProject, .skyaboveProject, .cloudwordsProject {
    border: 4px double slategray;
    text-align: center;
    margin: 2em;
    padding: 4em;
}

.oursagileProject:hover, .nekoProject:hover, .poseidonProject:hover, .twitchdevProject:hover, .skyaboveProject:hover, .cloudwordsProject:hover {
    cursor: pointer;
}

.oursagileProject {
    text-align: center;
}

.nekoProject {
    text-align: center;
}

.poseidonProject {
    text-align: center;
}

.twitchdevProject {
    text-align: center;
}

.skyaboveProject {
    text-align: center;
}

.cloudwordsProject {
    grid-area: cloudwords;
}

.projectsContainerGrid a {
    color: #000249;
}

.logoImg {
    display: block;
    margin: 1em auto 0;
    width: 38%;
    height: auto;
}

.topButton {
    position: fixed;
    bottom: 16px;
    right: 16px;
    text-decoration: none;
    color: black;
    background-color: white;
    border: 2px solid black;
    box-shadow: 2px 2px black;
    font-size: 2.85em;
    line-height: .85em;
    display: inline-block;
    font-weight: 600;
    letter-spacing: .05em;
    padding: 3px 5px;
    white-space: nowrap;
}
